@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: hsl(226deg, 43%, 10%);
  color: hsl(236deg, 100%, 87%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-container {
  width: 375px;
  margin: 80px auto 0;
  padding: 0 25px;
}
.main-container .section-first {
  position: relative;
}
@media (min-width: 1200px) {
  .main-container {
    padding: 0;
    margin-top: 175px;
    width: 1200px;
    display: flex;
  }
  .main-container .section-first {
    width: 255px;
  }
}
.main-container .section-card__user {
  background-color: hsl(246deg, 80%, 60%);
  display: flex;
  border-radius: 15px;
  padding: 30px;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.main-container .section-card__user-img {
  width: 72px;
  margin-right: 10px;
  border: 3px solid white;
  border-radius: 50%;
}
.main-container .section-card__user-content-title {
  font-size: 0.9em;
  margin: 10px 0 4px;
}
.main-container .section-card__user-content-name {
  font-size: 1.5em;
  color: white;
  font-weight: 300;
}
.main-container .section-card__dates {
  background-color: hsl(235deg, 46%, 20%);
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  font-size: 1.2em;
  height: 100px;
  padding-top: 50px;
  position: absolute;
  width: 100%;
  top: 110px;
}
.main-container .section-card__dates-frequency:hover {
  cursor: pointer;
  color: white;
}
@media (min-width: 1200px) {
  .main-container .section-card {
    height: 355px;
  }
  .main-container .section-card__user {
    flex-direction: column;
    height: 355px;
  }
  .main-container .section-card__user-img {
    margin-bottom: 45px;
    width: 85px;
  }
  .main-container .section-card__user-content-title {
    font-size: 1em;
  }
  .main-container .section-card__user-content-name {
    font-size: 2.4em;
  }
  .main-container .section-card__dates {
    height: 190px;
    padding: 40px 0px;
    flex-direction: column;
    top: 300px;
    margin-top: 30px;
  }
  .main-container .section-card__dates-frequency {
    padding: 0px 35px;
  }
}
.main-container .section-second {
  padding-top: 230px;
}
@media (min-width: 1200px) {
  .main-container .section-second {
    padding: 0;
    margin-left: 35px;
    width: 850px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.main-container .card {
  position: relative;
  margin-bottom: 110px;
}
.main-container .card__background {
  background-color: hsl(15deg, 100%, 70%);
  height: 80px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
}
.main-container .card__background-img {
  margin-top: -10px;
  padding-left: 235px;
}
.main-container .card__content {
  background-color: hsl(235deg, 46%, 20%);
  border-radius: 15px;
  position: absolute;
  width: 100%;
  height: 122px;
  top: 40px;
  padding: 25px;
}
.main-container .card__content:hover {
  background-color: hsl(235deg, 45%, 61%);
  cursor: pointer;
}
.main-container .card__activity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.main-container .card__activity-title {
  font-weight: 500;
  font-size: 1.2em;
  color: white;
}
.main-container .card__hours {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-container .card__hours-hrs {
  font-size: 2em;
  color: white;
  font-weight: 300;
}
@media (min-width: 1200px) {
  .main-container .card {
    width: 255px;
    margin-bottom: 192px;
  }
  .main-container .card__background-img {
    padding-left: 155px;
  }
  .main-container .card__content {
    height: 200px;
    top: 45px;
  }
  .main-container .card__activity {
    margin-bottom: 25px;
  }
  .main-container .card__hours {
    flex-direction: column;
    align-items: flex-start;
  }
  .main-container .card__hours-hrs {
    font-size: 3.6em;
    margin-bottom: 4px;
  }
}

.attribution {
  font-size: 14px;
  text-align: center;
  margin: 20px;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

/*# sourceMappingURL=styles.css.map */
